body {
    background-color: black;
}


#search-term {
    background-color: black;
    color: white;
}

#warning {
    float: left;
    margin-top: 7px;
}

#Box {
    margin-top: 7px;
    position: absolute;
    right: 0px;
}

#main {
   position: relative;
}

#tweets { 
    position: relative;
    margin-top: 150px;
    border: 1px solid black;
    height: 300px;
}

#sizing0 {
    color: red;
    position: absolute;
    top: 40%;
    left: 30%;
    margin: 20px;
}

#sizing1 {
    color: black;
    position: absolute;
    left: 45%;
    bottom: 10%;
}

#sizing10 {
    color: cyan;
    position: absolute;
    -moz-transform: rotate(90deg); 
    right: 30%;
    bottom: 30%;
}

#sizing2 {
   color: blue;
   position: absolute;
   -moz-transform: rotate(45deg);
   right: 15%;
   top: 25%;
}

#sizing3 {
    color: purple;
    position: absolute; 
    -moz-transform: rotate(-90deg);
    left: 20%;
    top: 100px; 
}

#sizing4 {
    color: gray;
    position: absolute;
    left: 35%;
    top: 100px;
}

#sizing5 {
    color: green;
    position: absolute; 
    top: 30%; 
    left: 45%;
}

#sizing6 {
    color: orange;
    position: absolute;
    bottom: 30%; 
    left: 45%;
}

#sizing7 {
    color: yellow;
    position: absolute;
    bottom: 25%;
    left: 35%;
}

#sizing8 {
    color: magenta;
    position: absolute;
    -moz-transform: rotate(-90deg);
    top: 25%;
    left: 50%;
}

#sizing9 {
    color: cyan;
    position: absolute; 
    bottom: 15%;
    left: 25%;
}


#sizing0 p {
    font-size: 100px;
}

#sizing1 p {
    font-size: 85px;
}

#sizing2 p {
    font-size: 70px;
}

#sizing3 p {
    font-size: 55px;
}

#sizing4 p {
    font-size: 40px;
}

#sizing5 p {
    font-size: 35px;
}

#sizing6 p {
    font-size: 25px;
}

#sizing7 p {
    font-size: 20px;
}

#sizing8 p {
    font-size: 15px;
}

#sizing9 p {
    font-size: 15px;
}

#sizing10 p {
    font-size: 35px;
}






